APP_NAME=YARA-FERN
APP_TIMEZONE=UTC
PORT=3000
JWT_EXPIRES_IN_SECONDS=840000
JWT_SECRET_KEY=

DATABASE_CONNECTION_STRING=mongodb+srv://shi_root:<password>@cluster0.qmfay.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=yara_fern_dev
DATABASE_LOGGING=true

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_CDN=
AWS_REGION=
APP_CDN_URL=